.lineFirstLvl{
  background-color: #ddd;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.textRight{
  text-align: right;
}
p{
  margin: 0;
}
.margin{
  margin: 5px 0;
  display: block;
}