
.wrapper{
    display: flex;
    justify-content: flex-end;
}

.container{
    flex:0.7;
    margin: 20px;
    border: 1px solid #d7d7d7;
}


.header{
    display:flex;
    background: #d7d7d7;
    padding: 20px;
}
.header_item{
    flex:1;
}
.header_item>div:first-child{
    font-weight: 800;
}
.header_item:last-child{
    text-align: right;
}

.list{
    padding: 0 20px;
}
.list_item{
    padding: 10px 0;
    border-bottom: 1px solid #d7d7d7;
    cursor: pointer;
}
.list_item:last-child{
    border-bottom: unset;
}